/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* li {

} */


/* Utility */

.pad-left10 {
    padding-left: 10px;
}

.white {
    color: white;
}

.grey {
    color:#a3a3a3;
}
/* END COMMON */


/* MAIN */

.app-wrapper {
    width: 100%;
    height: 100vh;

    /* test */
    background-color: pink;  
}

main {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;


    /* test */
    background-color: lightblue;
}

/* Left Nav */

.left-nav {
    width: 250px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    color: #a3a3a3;


    /* da definire */
    min-width: none;

    /* test */
    background-color: bisque;
}

/* Logo */

.logo {
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;

    /* test */
    background-color: blue;
}

.logo img {
    width: 30px;
    padding-right: 5px;
}

.brand-name {
    font-size: 20px;
}

.trademark {
   
   display: inline-block;
}

/* Nav */

nav {
    height: 80px;

    /* test */
    background-color: green;
}

nav img {
    width: 20px;
}

.home-container {
    border-left: 5px solid #59812f;
    padding-left: -5px;
}

.home {
    

    /* test */
    background-color: lightgrey;
}

.inactive {
    border-left: 5px solid transparent;
}

.active {
    border-left: 5px solid #59812f;
}

.search {


    /* test */
    background-color: lightseagreen;
}

.library {


    /* test */
    background-color: lightpink;
}

.playlists {
    flex-grow: 1;

    /* test */
    background-color: blueviolet;
}

.account {
    height: 80px;

    /* test */
    background-color: brown;
}

/* Main Content */

.main-content {
    width: calc(100% - 250px);
    overflow-y: auto;
    padding-top: 100px;
    /* test */
    background-color: salmon;
}

/* END MAIN */


/* FOOTER */

footer {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    

    /* test */
    background-color: lightgreen;
}

/* END FOOTER */


/* UPGRADE BANNER */

.upgrade-banner {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 80px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    vertical-align: middle;
    line-height: 80px;  
}

.upgrade-banner a {
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 20px;
}

/* END UPGRADE BANNER */