/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;
}


/* Utility */

.pad-left10 {
    padding-left: 10px;
}

.pad-right20 {
    padding-right: 20px;
}

.white {
    color: white;
}

.grey {
    color:#a3a3a3;
}

/* END COMMON */


/*---------- MAIN ----------*/

.app-wrapper {
    width: 100%;
    height: 100vh; 

    /* da ricontrollare */
    /* min-width: 600px;  */
}

main {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

/* LEFT NAV */

.left-nav {
    background-color: black ;
}

/* Top left Nav */

.top-left-nav {
    width: 250px;
    height: calc(100% - 80px);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 600;
}


.menu li {
    padding: 5px;
}

/* Logo */

.logos-container {
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 0 20px 10px;

}

.logo-small {
    width: 40px;
    display: none;
}

.logo {
    width: 130px;
}

.menu li img {
    width: 25px;
    height: 25px;
}


/* Menù */

.menu img {
    width: 20px;
}

.menu li {
    display: flex;
    align-items: center;
}

.menu li span {
    padding-left: 5px;
}

.active {
    border-left: 3px solid #adff2f;
}

.playlists {
    flex-grow: 1;
}

.title-playlist {
    font-size: 16px;
    padding-top: 20px;
}

.plus {
    width: 38px;
    height: 38px;
    color: black;
    background-color: #a3a3a3;
    font-size: 40px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    line-height: 38px;
}

.create-playlist {
    height: 38px;
    vertical-align: middle;
    display: inline-block;
    padding-left: 5px;
}

.playlists li {
    padding-top: 15px;
}

/* END Top Left Nav */


/* Bottom Left Nav */

.bottom-left-nav {
    height: 80px;
    font-size: 12px;
}

.account img {
    width: 15px;
}

.installation {
    border-bottom: 1px solid #a3a3a3;
    padding: 12px 0;
    height: 40px;
    vertical-align: middle;
}

.install-logo {
    padding: 0 5px;
    height: 40px;
    vertical-align: middle;
}


.user {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
}

.user-logo img {
    transform: scale(1.6);
    background-color: #a3a3a3;
    border-radius: 50px;
}

.user span {
    padding-left: 10px;

}

/* common */

.inactive {
    border-left: 3px solid transparent;
}

/*  END Bottom Left Nav */

/* Main Content */

.main-content {
    width: calc(100% - 250px);
    overflow-y: auto;
    padding-top: 100px;
    /* test */
    background-color: #141922;
}

/* END MAIN */


/* FOOTER */

footer {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    

    /* test */
    background-color: lightgreen;
}

/* END FOOTER */


/* UPGRADE BANNER */

.upgrade-banner {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 80px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    vertical-align: middle;
    line-height: 80px;  
}

.upgrade-banner a {
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 20px;
}

/* END UPGRADE BANNER */


/******************** MEDIA QUERY ********************/

/* MEDIUM */

@media screen and (max-width: 1100px) {
    

}

/* SMALL */

@media screen and (max-width: 700px) {
    

}

/* EXTRA SMALL */

@media screen and (max-width: 600px) {

    .left-nav {
        width: 60px;
    }

    .main-content {
        width: 100%;
    }
    
    .logo-small {
        display: inline-block;
        
    }

    .logo {
        display: none;
    }

    .menu li span {
        display: none;
    }

    .playlists {
        display: none;
    }

    .install-app {
        display: none;
    }

    .username {
        display: none;
    }

    .installation {
        border-bottom: 0;
    }

}